<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

</head>

<body>
    <div class="containercenter">
        <div class="s013">
            <form>
                <fieldset>
                    <legend>Got a little extra that you want to give away?</legend>
                </fieldset>
                <div class="inner-form">
                    <div class="left">
                        <div class="input-wrap first">
                            <div class="input-field first">
                                <label>I want to donate</label>
                                <div class="input-select">
                                    <select data-trigger="" name="choices-single-defaul">
                                        <option>Clothes</option>
                                        <option>Compost</option>
                                        <option>Electronics</option>
                                        <option>Pharma</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="input-wrap second">
                            <div class="input-field seoncd">
                                <label>My zipcode is</label>
                                <input type="text" placeholder="ex.11232" />
                            </div>
                        </div>
                    </div>
                    <button class="btn-search" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                            height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></button>
                </div>
            </form>
        </div>
    </div>
    <div class="people"
        style="color:#999;font-family: 'Poppins', sans-serif;font-size: 10px;padding:10px;text-align:right;">© Copyright
        2021 wheretodonate.nyc. All rights reserved.</div>
    <div class="people">
        <center><img src="nyc.png" class="responsive" style="max-width:800px;"></center>
    </div>
    <script src="js/extention/choices.js"></script>
    <script>
        const choices = new Choices('[data-trigger]', {
            searchEnabled: false,
            itemSelectText: '',
        });
    </script>
</body>

</html>